<!-- farm_management/templates/farm_management/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agrimate Farm Management</title>
</head>
<body>
    <h1>Welcome to Agrimate Farm Management</h1>
    <p>Your one-stop solution for farm management.</p>
    <p><a href="{% url 'login' %}">Login</a></p>
    <p><a href="{% url 'create-livestock' %}">Creat Livestock</a></p>
    <p><a href="{% url 'livestock-list' %}">List Livestock</a></p>
    <p><a href="update-livestock">Update</a></p>
    <p><a href="delete-livestock">Delete</a></p>
</body>
</html>

</html>