{% extends "users/base2.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
<Body>

    <div class="introview">

            <div class="content">
                <div class="intro">
                    <h1 class="in">Farm Management Dashboard</h1>
                    <br></br>
                    <h3 class="in">your all-in-one solution for efficient and modern agricultural management. Whether you're a small family farm or a large-scale agricultural enterprise, our platform is designed to streamline your operations, increase productivity, and optimize your agricultural business.</h3>
                    <br></br>
                    <button class="{% url 'contact' %}">Contact</button>
                </div>
                
                <div class="container">
                    <div class="image-frame">
                        <img src="{% static 'C:\Django_projects\djangoenv\Scripts\Greenfarmer\users\static\images\1.jpg' %}" alt="Your Image">
                    </div>
                </div>
            </div>
    </div>
    
    <div class="view2">
        <div class="content">
            <div class="product">
                <h1 class="pro">Our Products</h1>
                <br></br>
                <h3 class="pro">your all-in-one solution for efficient and modern agricultural management. Whether you're a small family farm or a large-scale agricultural enterprise, our platform is designed to streamline your operations, increase productivity, and optimize your agricultural business.</h3>
                <br></br>
                <button class="{% url 'livestock-Dashboard' %}">livestocks</button>
            </div>
            
            <div class="container">
                <div class="image-frame">
                    <img src="{% static 'C:\Django_projects\djangoenv\Scripts\Greenfarmer\users\static\images\1.jpg' %}" alt="Your Image">
                </div>
            </div>
        </div>
    </div>
    <div class="view3">
        <div class="content">
            <div class="intro">
                <h1 class="in">Farm Management Dashboard</h1>
                <br></br>
                <h3 class="in">your all-in-one solution for efficient and modern agricultural management. Whether you're a small family farm or a large-scale agricultural enterprise, our platform is designed to streamline your operations, increase productivity, and optimize your agricultural business.</h3>
                <br></br>
                <button class="#">Contact</button>
            </div>
            
            <div class="container">
                <div class="image-frame">
                    <img src="{% static 'C:\Django_projects\djangoenv\Scripts\Greenfarmer\users\static\images\1.jpg' %}" alt="Your Image">
                </div>
            </div>
        </div>
    </div>
    <div class="view4">
        <div class="content">
            <div class="intro">
                <h1 class="in">Farm Management Dashboard</h1>
                <br></br>
                <h3 class="in">your all-in-one solution for efficient and modern agricultural management. Whether you're a small family farm or a large-scale agricultural enterprise, our platform is designed to streamline your operations, increase productivity, and optimize your agricultural business.</h3>
                <br></br>
                <button class="#">Contact</button>
            </div>
            
            <div class="container">
                <div class="image-frame">
                    <img src="{% static 'C:\Django_projects\djangoenv\Scripts\Greenfarmer\users\static\images\1.jpg' %}" alt="Your Image">
                </div>
            </div>
        </div>
    </div>
    <div class="view5">
        <div class="content">
            <div class="intro">
                <h1 class="in">Farm Management Dashboard</h1>
                <br></br>
                <h3 class="in">your all-in-one solution for efficient and modern agricultural management. Whether you're a small family farm or a large-scale agricultural enterprise, our platform is designed to streamline your operations, increase productivity, and optimize your agricultural business.</h3>
                <br></br>
                <button class="#">Contact</button>
            </div>
            
            <div class="container">
                <div class="image-frame">
                    <img src="{% static 'C:\Django_projects\djangoenv\Scripts\Greenfarmer\users\static\images\1.jpg' %}" alt="Your Image">
                </div>
            </div>
        </div>
    </div>
<script>
    // JavaScript code for displaying farm-related data and functionality.
</script>
</Body>
{% endblock %}